{% extends 'base.html' %}

{% load static %}

{% block body%}
        
        
        
        
        <section id="products">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Log In</h2>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center logform">
                        {% if error %}
                            {{ error }}
                        {% endif %}
                        <form method="post" action="#" class="login-form">
                            {% csrf_token %}
                            
                            {% if request.GET.next %}
                                <input type="hidden" name="next" value="{{ request.GET.next }}">
                            {% endif %}
                            
                            <label>You must be logged in to access our products</label>
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" required><br>
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" required><br>
                            <input type="submit" value="Log In">

                            <a href="{% url 'signup' %}"><input type="button" value="Sign up"></a>
                        </form>
                    </div>
                </div>
            </div>
            
        </section>  

 {% endblock%}